[submodule "torch/maf_torch_dcgan"]
	path = torch/maf_torch_dcgan
	url = https://github.com/kimmorehvn/maf_torch_dcgan
[submodule "torch/pytorch-CycleGAN-and-pix2pix"]
	path = torch/pytorch-CycleGAN-and-pix2pix
	url = https://github.com/kimmorehvn/pytorch-CycleGAN-and-pix2pix.git
[submodule "torch/SSD_torch"]
	path = torch/SSD_torch
	url = https://github.com/kimmorehvn/SSD_torch.git
[submodule "torch/torch_GLOW"]
	path = torch/torch_GLOW
	url = https://github.com/kimmorehvn/torch_GLOW.git
[submodule "tf2/tf2_GLOW"]
	path = tf2/tf2_GLOW
	url = https://github.com/kimmorehvn/tf2_GLOW.git
