[submodule "torch/maf_torch_dcgan"]
	path = torch/maf_torch_dcgan
	url = https://github.com/kimmorehvn/maf_torch_dcgan
[submodule "torch/pytorch-CycleGAN-and-pix2pix"]
	path = torch/pytorch-CycleGAN-and-pix2pix
	url = https://github.com/kimmorehvn/pytorch-CycleGAN-and-pix2pix.git
[submodule "torch/SSD_torch"]
	path = torch/SSD_torch
	url = https://github.com/kimmorehvn/SSD_torch.git
[submodule "torch/torch_GLOW"]
	path = torch/torch_GLOW
	url = https://github.com/kimmorehvn/torch_GLOW.git
[submodule "tf2/tf2_GLOW"]
	path = tf2/tf2_GLOW
	url = https://github.com/kimmorehvn/tf2_GLOW.git
[submodule "torch/torch_MPL"]
	path = torch/torch_MPL
	url = https://github.com/kimmorehvn/torch_MPL.git
[submodule "torch/torch_DLRM"]
	path = torch/torch_DLRM
	url = https://github.com/kimmorehvn/torch_DLRM.git
[submodule "torch/torch_ACVNet"]
	path = torch/torch_ACVNet
	url = https://github.com/kimmorehvn/torch_ACVNet.git
[submodule "torch/torch_Shunted-Transformer"]
	path = torch/torch_Shunted-Transformer
	url = https://github.com/kimmorehvn/torch_Shunted-Transformer.git
[submodule "torch/ConvMAE-torch"]
	path = torch/ConvMAE-torch
	url = https://github.com/kimmorehvn/ConvMAE-torch.git
